*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

:root{
    --primaty-colur:green;
    --secondary-color:red;
}
.container{
    background: #f7e6e6;
  height: 500px;
  width: 100%;
    border: 1px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
   background:var(--primaty-colur);
   box-shadow: 10px 10px 10px 0.10px var(--secondary-color);
}