*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    width: 100wvh;
    background:#2E3192;color: bisque;
}

.leapyearcaltulator{
    background: #C33764;
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px 10px 10px;
}
#date{
    
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

#button{
    height: 50px;
    width: 70px;
    border-radius: 10px;
    font-weight: 20px;
    text-transform: capitalize;

}

#button:hover{
    color:white;
   
    background: #000;
}
