*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vwh;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(189,189,201,1) 88%, rgba(153,153,204,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.card_box{
    height: 500px;
    width: 300px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid blue;
    box-shadow: -10px 10px 10px;
    border-radius: 10px;
    

}

.card_box img{
    max-width: 280px;
    min-height: auto;
    padding: 10px;
    border-radius: 10px;
}

.card_box h2{
   
    text-transform: capitalize;
    font-size: 1.5em;
}

.card_box p{
    
    padding: 10px;
    font-size: 1.2em;

}