*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 100vwh;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
.third_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 600px;
    border: 1px solid black;


}

.box-item{
    border: 1px solid red;
     background:rgb(65,4,58) ;
    gap: 20px;
    height:100%;
    width:50%;
}
.box-item h2{
    font-size: 2rem;
    color: white;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.box-item p{
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: left;
}

.box-item2{
    height:100%;
    width:50%;

}

.box-item2 img{
    width: 100%;
    height: 100%;
}
