*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EAC696;
    height:100vh;
    
}
.home img{
    width: 200px;
}
.home h1{
    margin-bottom: 20px;
    text-align: center;
}
.para-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.para-title button{
     margin-top: 80px;
     width: 170px;
     height: 50px;
     outline: none;
}
.para-title button:hover{
    background-color: #C8AE7D;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}
.about{
    background-color: #C8AE7D;
    height: 100vh;
    display: flex;
    padding: 20px;
    align-items: center;
   padding: 0 200px;
    gap: 150px;
    justify-content: space-between;
}
.about.text{
    width: 80%;
    
    text-align: center;
}
.about img{
    margin-top: 50px;
    width: 300px;
    height: 390px;
    border-radius: 30px;
}
.text.about-tead{
    margin-top: 20px;
}
.text h2{
    font-size: 40px;
    margin: 20px 0;
}
.about-text{
    margin-top: 100px;
    text-align: justify;
}
.experince{
    height: 100vh;
    background-color: #765827;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 30px;
}
.exp-info{
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 50%;
    align-items: center;
    text-align: center;
   margin-right: 200px;
   font-size: 1.4em;
   text-align: left;
}
.title-ex{
font-size: 2em;
margin-left: 100px;

}
.exp-info hr{
    width: 200px;
    margin-left: 450px;
    text-align: center;
}
.contract{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background: #65451F;
}
.heading{
    font-size: 2em;
    margin-bottom: 250px;
    text-transform: capitalize;

}
.contract_item h2 {
   margin-bottom: 4px;
   

}
.contract_item p{
    margin-bottom: 30px;
}

.logo{
    display: flex;
    gap: 20px;
    justify-content:space-around ;
    align-items: center;
   


}
.footer h2{
 margin-bottom: 20px;
}

.facebook img{
    width: 50px;
    border-radius: 10px;
}
.instagram img{
    width: 50px;
    border-radius: 10px;
}
.twitter img{
    width: 50px;
    border-radius: 10px;
}