*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 20px;
    padding: 20px;
    background: rgb(16, 113, 198);
    color:white;
 
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    flex-direction: row-reverse;
    justify-content: space-between;

   

}

.box{
   
    padding: 10px;
    margin: 10px;
}

.box1{
    background: aqua;
}
.box2{
    background: rgb(184, 12, 172);
}
.box3{
    background: rgb(17, 23, 186);
}
.box4{
    background: rgb(4, 133, 17);
}

