*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: aliceblue;
    color: black;
    height: 50px;
    width: 50px;
    border: 5px solid green;
}

.box{
    border: 1px slid red;
}

