*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vwh;
    border: 2px solid red;
    display: flex;
    justify-content:center;
    align-items: center;
}

.third_box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items:center ;

}

.box_item1{
    height: 100%;
    width: 50%;

   
    
}
.box_item1 h2{
    font-size: 2em;
margin-top: 40px;
padding: 4px;
margin-bottom: 20px;
text-transform: capitalize;

}

.box_item1 p{
    padding: 10px;
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;


}
.inside_box{
    display: flex;
    gap: 5px;
}





.box_item2{
    height: 100%;
    width: 50%;

}

.box_item2 img{
    height: 100%;
    width: 100%;
}
.like{
    font-size: 2em;
    
}

